* {
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(-80deg, #f2b988, #f4a19c, #da94b6, #6767EB);
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
}

.carddeck {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
}

.carddeck > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carddeck > div > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.titleContainer {
  display: flex;
  width: 100%;
}

@media (min-width: 1000px){
.title {
  width: 60vw;
  margin: 60px auto;
}
}

@media (max-width: 1000px){
  .title {
  width: 500px;
  margin: 30px 30px;
}
}

@keyframes line-anim {
  0% {
      stroke-dashoffset: 283;
      stroke-opacity: 0.6;
  }
  40% {
        stroke-dashoffset: 0;
        stroke-width: 0.6; 
        stroke: url(#bordergradient);
  }
  100% {
    fill-opacity:0.1;
    stroke-dashoffset: 0;
    stroke-width: 0.8;
    stroke-opacity: 1; 

  }
}

path {
  stroke: url(#bordergradient);

  fill-opacity:0;
  stroke-width: 0; 
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  stroke-opacity: 0;
  animation: line-anim 6s ease-in-out forwards .35s;
}
